<h3>  <table class="front" summary="Messages" border="2" align=center>
  <tr>
  <th>Author:</th>
  <th>Subject:</th>
  <th>Body:</th>
  <th></th>
  </tr>
    <% if signed_in? %>
      <% pending_message = Message.find(:all, :conditions => [ 'deliver_id = ? AND read = ?' ,current_user.id.to_s, false])%>
      <% unless pending_message.nil? %>
      <% pending_message.each do |message| %>
      <tr>
      <%= @u = User.find(message.author_id) %>
      <td><%=@u.name%></td>
      <td><%= message.subject %></td>
      <td><%=message.body %></td>
      <td><%= link_to "Remove", :controller => "pages", :action => "remove", :message => message %></td>
      </tr>
                <% end %>
      <% end %>
    <% end %>
    </table>
</h3>