<tr>
<td>  
      <label for="Submitted_date_field"><%= ticket.created_at.strftime("%a %b #{ticket.created_at.day.ordinalize}") %></label>
</td>
<td>
      <% puts ticket.user_id %>
      <label for="user_id_field"><%= ticket.user_id %></label>
</td>
<td>
      <% @p = Project.find_by_id(ticket.project_id) %>
      <label for="project_id_field"><%= @p.title %></label>
</td>
<td>
      <label for="state_id_field"><%= ticket.state_id %></label>
</td>
<td>
      <label for="urgency_id_field"><%= ticket.urgency_id %></label>
</td>
<td>
      <label for="intervention_id_field"><%= ticket.intervention_id %></label>
</td>
<td>
      <label for="request_type_id_field"><%= ticket.request_type_id %></label>
</td>
<td>
      <% if !current_user.isClient? %>
            <%= link_to "Show Ticket", ticket %>
      <% end %>
</tr>

