    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :client_id %><br />
      <%= f.text_field :client_id %>
    </div>
   <div class="field">
      <%= f.label :admin_id %><br />
      <%= f.text_field :admin_id %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>