<% content_for :scripts do %>
<script type="text/javascript" ..... ></script>
<% end %>
  <table class="project" summary="Project information" border ="1">
    <tr>
      <td class="sidebar round">
        <strong>Title</strong> <%= @project.title %><br />
        <% @u = User.find(Integer(@project.admin_id)) %>
        <strong>Admin</strong>  <%= @u.name %><br />
        <strong>Description</strong>  <%= @project.description %><br />
      </td>
    </tr>
  </table>
  <% if @current_user.isAdmin? %>
    <%= link_to 'Edit Project', edit_project_path(@project) %>
  <% end %>
  <%= link_to( "New Ticket", new_ticket_path(@project)) %>
  <% if !@tickets.empty? %>
  <h3>
  <table class="tickets" summary="Project Tickets" border="2">
  <tr>
  <th>Submitted Date:</th>
  <th>Client:</th>
  <th>Project:</th>
  <th>State:</th>
  <th>Urgency:</th>
  <th  style="max-width: 100px;">Intervention:</th>
  <th>Request Type:</th>
  <th>Actions:</th>
  </tr>
  <%= will_paginate @tickets %>
  <%= render @tickets %>
  <%= will_paginate @tickets %>
  </table>
  </h3>
  <% end %>